@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap');

body {
  background-image: url("https://maalos.github.io/files/sky.jpg");
  user-select: none;
  font-family: 'Source Code Pro', monospace;
}

a {
  text-decoration: none;
}

.header {
  text-align: center;
}

.header h1 {
  color: #C6DDF0;
  margin: 0;
}

.header h3 {
  color: #ADB6C4;
  margin: 0;
  margin-bottom: 10px;
}

.content {
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
}

.item {
  transition: 200ms;
  padding: 5px;
  margin: 5px;
  background-color: rgba(198, 221, 240, 0.1);
  color: #E5E7E6;
  width: 100%;
}

.item:hover {
  transition: 200ms;
  background-color: rgba(198, 221, 240, 0.2);
}

.name {
  font-weight: 1000;
  font-size: 18px;
}
