body {
  background-color: #2A2B2A;
  user-select: none;
}

a {
  text-decoration: none;
}

.header {
  text-align: center;
}

.header h1 {
  color: #C6DDF0;
  font-family: Hack;
  margin: 0;
}

.header h3 {
  color: #ADB6C4;
  font-family: Hack;
  margin: 0;
  margin-bottom: 10px;
}

.footer {
  text-align: center;
  color: #C6DDF0;
  font-family: Hack;
  position: fixed;
  bottom: 8px;
}

.content {
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
}

.item {
  transition: 200ms;
  padding: 5px;
  margin: 5px;
  color: #E5E7E6;
  font-family: Hack;
  min-width: 32%;
  box-shadow: 0px 0px 5px 1px #111111;
}

.item:hover {
  transition: 200ms;
  background-color: #222222;
}

.name {
  font-weight: 1000;
  font-size: 18px;
}
