@font-face {
  font-family: "mcfont";
  src: url("Minecraft.ttf");
}

body {
  background-color: #222222;
  user-select: none;
}

.header {
  color: #666600;
  font-family: mcfont;
  font-size: 48px;
  margin-top: 0;
  float: left;
  position: absolute;
}

.cheats {
  direction: rtl;
  margin-top: 0;
  font-family: mcfont;
  font-size: 20px;
  color: #ffffff;
}

.version {
  color: #ffffff;
  margin-top: 50px;
  font-family: mcfont;
  font-size: 36px;
  position: absolute;
}

.footer {
  position: absolute;
  bottom: 0;
  font-family: mcfont;
  color: #999999;
}

.description {
  text-align: center;
  margin-top: -80px;
  color: #ffffff;
  font-family: mcfont;
  font-size: 24px;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  text-decoration: none;
  color: #ffffff;
  border: 1px solid #ffffff;
  font-family: mcfont;
  font-size: 24px;
  margin: 5px;
  padding: 5px;
  padding-bottom: 1px;
  transition: 200ms;
}

.button:hover {
  transition: 200ms;
  color: #999999;
  border: 1px solid #999999;
}
